html,body {
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #21132b;
}

.game {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    height: -webkit-fill-available;
    max-height: 100%;
    --borderwidth: 3px;
}

@media screen and (max-width: 650px) {
    .game {
        --borderwidth: 1px;
    }
    .header, .footer {
        flex-direction: column;
    }

    .header>div, .footer>div {
        text-align: center !important;
    }

    .menu {
        width: 95% !important;
    }
}

@media screen and (max-height: 650px) {
    .game {
        --borderwidth: 1px;
    }
}

.header, .footer {
    color: #fbf9a8;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);

    display: flex;
    width: 100%;
    justify-content: space-around;
}

.header {
    margin-top: 10px;
}

.footer {
    margin-bottom: 5px;
}

.grow-text {
    animation-name: grow;
    animation-timing-function: linear;
    animation-duration: 3.0s;
    animation-iteration-count: infinite;
}

.header>div, .footer>div {
    padding: 0 10px;
    flex-shrink: 1;
    flex-basis: 25%;
    white-space: nowrap;
}

.header>div:nth-child(2),.footer>div:nth-child(2) {
    text-align: center;
}
.header>div:nth-child(3),.footer>div:nth-child(3) {
    text-align: right;
}

a:link,a:visited,a:hover, a:focus {
    text-decoration: none;
    color: #fbf9a8;
}

#branding {
    font-variant: small-caps;
}

.heart {
    display: inline-block;
    cursor: default;
}
.heart:hover {
    transform: scale(1.25);
}

.board {
    box-sizing: border-box;
    display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.inner-board {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.menu {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #dddddd;
    width: 450px;
}

.menu h1 {
    margin: 0;
    color: #fbf9a8;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
    font-variant: small-caps;
}

.menu>div,.menu>form {
    display: flex;
    width: 100%;
    margin: 0.9rem 0;
}

.menu button {
    cursor: pointer;
    color: #dddddd;
    border: 0.15em solid #b5a8bf;
    border-radius:0.12em;
    text-decoration:none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.55rem 0rem;
    font-size: 1.3rem;
    font-weight: bold;
    transition: background-color 0.15s;
    width: 100%;
}

.menu button:hover {
    background-color: rgba(22, 9, 23, 0.5);
    animation-name: focus-pulse;
    animation-timing-function: linear;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#join-form>input {
    flex: 0 1 0%;
    font-size: 1.3rem;
    width: 4ch;
    min-width: 80px;
    font-weight: bold;
    padding: 0 1ch;
    background-color: rgba(0, 0, 0, 0);
    color: #dddddd;
    margin-right: 0.55rem;
    border: 0.15em solid #b5a8bf;
    border-radius:0.12em;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
}

#join-form>input.input-error {
    border-color: red;
}

#join-form>input:focus {
    outline: none;
    background-color: rgba(22, 9, 23, 0.5);
    animation-name: focus-pulse;
    animation-timing-function: linear;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#join-form>button {
    flex: 0 1 100%;
}

.outer-board {
    width: 95vmin;
    height: 95vmin;
    padding: 2vmin;
}

.hide {
    display: none;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #b5a8bf;
}

.outer-board>.box {
    position: relative;
    padding: 2vmin;
}


.box:nth-child(1) {
    border-width: 0 var(--borderwidth) var(--borderwidth) 0;
}
.box:nth-child(2) {
    border-width: 0 var(--borderwidth) var(--borderwidth) var(--borderwidth);
}
.box:nth-child(3) {
    border-width: 0 0 var(--borderwidth) var(--borderwidth);
}
.box:nth-child(4) {
    border-width: var(--borderwidth) var(--borderwidth) var(--borderwidth) 0;
}
.box:nth-child(5) {
    border-width: var(--borderwidth);
}
.box:nth-child(6) {
    border-width: var(--borderwidth) 0 var(--borderwidth) var(--borderwidth);
}
.box:nth-child(7) {
    border-width: var(--borderwidth) var(--borderwidth) 0 0;
}
.box:nth-child(8) {
    border-width: var(--borderwidth) var(--borderwidth) 0 var(--borderwidth);
}
.box:nth-child(9) {
    border-width: var(--borderwidth) 0 0 var(--borderwidth);
}

.board-completed {
    opacity: 0.3;
}

.outer-board>.box>.winner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25vmin;
    line-height: 20vmin;
    opacity: 0.85;
}

.outer-board>.box>.o, .outer-board>.box>.x {
    z-index: 10;
}

.inner-board>.box {
    font-size: 7vmin;
    line-height: 6vmin;
    cursor: default;
}

/* Marked squares */
.inner-board>.box::after {
    content: "O";
    color: rgba(0, 0, 0, 0.0);
}
.inner-board>.box.x::after {
    content: "X";
    color: #f2f189;
}
.inner-board>.box.o::after {
    content: "O";
    color: #85c4fb;
}
.x::after {
    content: "X";
    color: #f2f189;
}
.o::after {
    content: "O";
    color: #85c4fb;
}

/* Shadow mark on hover */
.game[data-active] .box.bg-pulse .inner-board:not(.board-completed)>.box:not(.x):not(.o):hover {
    cursor: pointer;
}
.game[data-turn="x"][data-active] .box.bg-pulse .inner-board:not(.board-completed)>.box:not(.x):not(.o):hover::after {
    content: "X";
    color: rgba(255, 255, 255, 0.25);
}
.game[data-turn="o"][data-active] .box.bg-pulse .inner-board:not(.board-completed)>.box:not(.x):not(.o):hover::after {
    content: "O";
    color: rgba(255, 255, 255, 0.25);
}

/* Color + animation for the active sub boards */
.bg-pulse .box {
    animation-name: focus-pulse;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Last mark pulses */
.box.last-move::after {
    animation-name: last-move-indicator;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Game over animation */
.bg-win .box {
    animation-name: focus-pulse;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.bg-win .inner-board {
    animation-name: dance;
    animation-duration: 1s;
}

@keyframes focus-pulse {
    0% {
        border-color: rgba(14, 198, 255, 0.7);
    }
    100% {
        border-color: rgb(247, 14, 255);
    }
}

@keyframes last-move-indicator {
    0% {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }
    100% {
        text-shadow: 0 0 8px rgba(255, 255, 255, 1);
    }
}

@keyframes dance {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    40%, 100% {
        transform: scale(1.0);
    }
    0% {
        transform: scale(1.0);
    }
    20% {
        transform: scale(1.3);
    }
}
